@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
}

input {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

progress::-webkit-progress-bar {
	border: 0;
	height: 12px;
	border-radius: 10px;
	background-color: #1a1d22;
}
progress::-webkit-progress-value {
	border: 0;
	height: 12px;
	border-radius: 10px;
	background: linear-gradient(90deg, #db00ff 0%, #1e69ff 97.35%);
}
progress::-moz-progress-bar {
	border: 0;
	height: 12px;
	border-radius: 10px;
}

@media (max-width: 900px) {
	.static-items > hr:nth-child(4) {
		display: none;
	}
}

@font-face {
	font-family: 'GR-regular';
	src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face {
	font-family: 'GR-medium';
	src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face {
	font-family: 'GR-semibold';
	src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face {
	font-family: 'GR-extrabold';
	src: url('../fonts/Gilroy-ExtraBold.ttf');
}

* {
	scroll-behavior: smooth;
}

@layer components {
	.roadmap__list-title {
		@apply font-semibold text-[28px];
	}

	.btn-hover {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			#1e69ff;
	}

	.roadmap-list::-webkit-scrollbar {
		@apply hidden;
	}

	.statistic-hr:nth-child(odd) {
		@apply shadow-[2px_0_0_#0166FF];
	}

	.discord,
	.twitter,
	.github,
	.medium {
		transition: 0.3s;
	}

	.discord:hover {
		border: 1px solid #6947f6;
		box-shadow: 0 0 20px #6947f6;
		transition: 0.3s;
	}
	.twitter:hover {
		border: 1px solid #1da1f2;
		box-shadow: 0 0 20px #1da1f2;
		transition: 0.3s;
	}
	.medium:hover {
		border: 1px solid #ffc017;
		box-shadow: 0 0 20px #ffc017;
		transition: 0.3s;
	}
	.github:hover {
		border: 1px solid #6947f6;
		box-shadow: 0 0 20px #6947f6;
		transition: 0.3s;
	}

	.live-ind {
		animation: 1.5s flashing linear infinite;
	}
}

@keyframes flashing {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
