@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
}

input {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

progress::-webkit-progress-bar {
	border: 0;
	height: 12px;
	border-radius: 10px;
	background-color: #1a1d22;
}
progress::-webkit-progress-value {
	border: 0;
	height: 12px;
	border-radius: 10px;
	background: linear-gradient(90deg, #db00ff 0%, #1e69ff 97.35%);
}
progress::-moz-progress-bar {
	border: 0;
	height: 12px;
	border-radius: 10px;
}

@font-face {
	font-family: 'GR-regular';
	src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face {
	font-family: 'GR-medium';
	src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face {
	font-family: 'GR-semibold';
	src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face {
	font-family: 'GR-extrabold';
	src: url('../fonts/Gilroy-ExtraBold.ttf');
}

@layer components {
	.roadmap__list-title {
		@apply font-semibold text-[28px];
	}

	.btn-hover {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			#1e69ff;
	}
}
